# Python / Backend
__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/.env
backend/db.sqlite3
backend/media/
.idea/
.vscode/

# Node / Frontend
node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
